[project]
name = "varinaut"
version = "0.1.0"
description = "Verinaut is an AI explorer of truths, an agentic AI prediction machine."
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[tool.uv.workspace]
members = [
    "apps/api",
]
